@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

body {
  color: #f6f6f6;
  background-color: #000000;
}

* {
  box-sizing: border-box;
  font-family: 'Italiana', serif;
}